%div#aboutpage-container
    %div.aboutpage-div
        %p I feel like I am a young monk, practicing in the city. 
        %p A young monk went to deep mountains to build his living environment from scratch according to his needs: "how can I make a suitable space for practicing spirituality?" he asked.
        %p A young artist went to Prague and for two years he had to deal with his own disease, problems, and confusions by himself most of the time: "how can I make my room a suitable space for practicing a sensitivity to understand my body, and thus resolving problems?" he asked.
        %p My problem is that my nutritionist, mother, teacher, Indian Ayurveda, Chinese medical scriptures, and Google are constantly giving different advice on food and how to live a life. 
        %p My practice is about generating my own understanding of things - what to eat, when to eat, how to think, after digesting what they say, then getting frustrated, test it by changing my routines, and getting frustrated again, then eventually I feel comfortable because now I can make decisions that are not necessarily efficient or productive but adequate to my body and my mind.
        %p I am somewhere between a city-based artist and a young monk.

    %p 
        Portal to my GitLab repository:
        %a{ href: "https://gitlab.com/scaletsang"} 
            link

    %p 
        Portal to my Bandcamp page: 
        %a{ href: "https://anthonytsang.bandcamp.com"} 
            link

    %p 
        Portal to my Youtube video repository:
        %a{ href: "https://www.youtube.com/channel/UCSLP146fD1uYIGRuvebJEHQ"} 
            link
    
    %p Want to write something to me? Knock my doors at anthonytsang0226@gmail.com.

    %div.aboutpage-div
        %h2 Artist Bio:
        %p Growing up in Hong Kong, a city with an abundance of food and resources but also stress built up by the character of this city to run fast, which sustains such abundance. I refused to be overwhelmed by the city and reach out to study art in Prague.
        %p In Prague, I participated Spawn, exhibition in Studio Prototype, Prague (April 2019) and I love my Computer, exhibition at Prague College, Prague (January 2020). These 2 exhibitions showcased my early works done in 2019. Remote participation of DINN2, an exhibition at T56 in Eindhoven, Netherlands (December 2020) materialized my online rearrangeable text as printed zines to be exhibited in the space.
        %p And as an intern in MeetFactory, following the artist Darrell Jonsson, I practice live projection and live music jamming. Other than participating in the Open Studio at MeetFactory every month, I also participated in the Ethnopoetic Expanded Cinema Performance - Prague Den Poezie                                  (November 2019) with Urban Space Epics, an artist community created by Darrell.
        %p Alongside these artistic practices, my expedition to other cultures brought me huge inspirations to understand how I live (which is equals to how I make art), and an aspiration to be a conceptual translator, connecting ideas from different cultures. Attending Summer school at AND Lab Centro de Investigação in Lisbon (July 2019) taught me to realize the power of intuition, and to accept multiple narratives at the same time. Volunteering in a village dedicated to monks in the Himalayas, India (February 2020) brought me to rethink the way I live, walk, eat, sleep, work and breath.
        %p Currently self-studying how to cook, eat, and also reading about I-Ching in my free time so as to listen to how my ancestors think about and deal with changes.
        %p 20 Jan 2021

    %div.aboutpage-div
        %h2 CV:
        %object{:data => "./media/artist_CV.pdf", :type => "application/pdf", :width => "100%", :height => "500px"}
            %p
                This browser does not support PDFs. Please download the PDF to view it:
                %a{ href: "./media/artist_CV.pdf"}
                    Download PDF