%div#blog-container

  %div#multiple-blog-container
    = blogposts

  %div#single-blog-container
    %div.blog-buttons
      %img#close-button{:src => "./media/UI/close_button.jpg"}
      %img#span-button{:src => "./media/UI/span_button.jpg"}
      %img#retract-button{:src => "./media/UI/retract_button.jpg"}
    %div#single-blog-content

  %div#search-box
    %input{:name => "search", :placeholder => "Search/filter blogs", :type => "text", :autocomplete => "off"}
