%div#aboutpage-container
	%div.aboutpage-div
		%h2 A Supermarket of well-curated Trash
		%p One tomato. One broccoli, One bar of chocolate. Two oranges.
		%p Wait, probably I don't really want the broccoli.
		%p So I go back.
		%p Put it back.
		%p This is a supermarket simulated in the exhibition space. But instead of stocking with food and necessities, it is stocked with clean trash. They all came along when I bought food or other necessities in the past 2 years. And I cleaned them and curated them well. And now they become the material of this participatory performance, simulating an absurd situation where you will be guided by me to decide what trash you will take away and what will not. It is about practicing when to say yes and no to all these available choices. It is to understand that whatever you buy, no matter how you think about it, they will become part of you as a human. Establishing a conscious relationship with them is to allow them to be useful to you instead of secretly influencing you without you knowing.
		%p This is everyday simulated in the form of a supermarket.
		%p In this performance, I will guide you from start to finish, trying out an alternative way to make conscious choice by utilizing your intuition practically. Come to my performance at a particular time (please select a time slot below), I will guide you through how to practice your intuition by entering my supermarket of trash.
		%p 
			Click on me to book a time with me!
			%a{ href: "https://docs.google.com/spreadsheets/d/1sSYqDPYaFB2HZzPfiRwNDi5KhGnyfseOZl8an3xj9qk/edit?usp=sharing"} 
				link
		%p After signing up, you will receive a confirmation email. If you don’t, please try to find it in your spam or bin.