%div#project-container
  = projects

  %div#popup-project-div
    %div#project
    %div#project-archives

  %div#search-box
    %input{:name => "search", :placeholder => "Search/filter projects", :type => "text", :autocomplete => "off"}
