%html

  %head
    %title #{page_name}
    %meta{ charset: "UTF-8", name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %link{ rel: "stylesheet", href: "css/style.css" }
    %script{ src: "js/jquery-3.5.1.min.js" }
    %script{ src: "js/isotope.pkgd.min.js" }
  %body

    %div.page-container
      %div.sidebar
        %div.nav
          %a{ href: "/home"} Home
          %a{ href: "/about"} About
          %a{ href: "/projects"} Projects
          %a{ href: "/blog"} Blog
          %a{ href: "/writing"} Writing
          %a{ href: "/event"} Event
      %div.content-container
        %div#page-name
          %h1 #{page_name}
        %p#page-description
          = page_description
        = content

    %script{ src: "js/blog.js" }
