@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Alef', sans-serif;
}

a{
  color: rgb(1, 56, 1);
  text-decoration: none;
}

a:hover{
  color: #3ADD82;
  transition-duration: 200ms;
}

.blogpost:hover{
  background-color: #80f8b6;
  transition-duration: 200ms;
}

.page-container{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: hidden;
}

/*===============sidebar======================*/

.sidebar{
  min-width: 166px;
  height: 100vh;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

    .nav{
      padding-top: 217px;
      display: flex;
      flex-direction: column;
    }

    .nav > *{
      margin-top: 10px;
    }

    .nav > a{
      font-size: 20px;
    }

/*===============contents======================*/

.content-container{
  width: 100%;
  height: auto;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

.content-container::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
}

#page-name{
  width: 100%;
  height: auto;
  padding-top: 50px;
}

#page-name > h1{
  font-size: 50px;
}

#page-description{
  width: 70%;
  margin: 30px 60px 30px 0px;
  font-size: 17px;
}

/*===============Aboutpage content======================*/
#aboutpage-container{
  width: 70%;
}

.aboutpage-div{
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

#aboutpage-container p {
  margin-bottom: 20px;
}

/*===============Blogs======================*/
#blog-container{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
}

/*============Blogs in span view==============*/

#multiple-blog-container{
  width: 80vw;
  height: 95%;
  overflow-y: scroll;
}

#multiple-blog-container::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
}

    .blogpost{
      float: left;
      width: 260px;
      max-width: 260px;
      background-color: white;
      margin: 8px 4px 8px 4px;
      border: 1px solid #333;
      border-radius: 2%;
      display: flex;
      flex-direction: column;
    }

    .blog-cover-img{
      max-width: 100%;
      border-radius: 5%;
      height: auto;
    }

    .blog-content{
      padding: 30px;
      height: auto;
    }

    .blog-content > h1{
      margin-top: 0px;
      font-size: 20px;
    }

    .blog-content > p{
      font-size: 17px;
    }

        .blog-title{

        }

        .blog-date{

        }

        .blog-connections{
          display: none;
        }

        .blog-tags{
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-end;
          width: -webkit-fill-available;
        }

            .blog-tags > p{
              margin: 3px 5px 0px 5px;
              padding: 5px 10px 17px 10px;
              height: 20px;
              font-size: 12px;
              color: black;
              background-color: white;
              box-sizing: border-box;
              border-style: solid;
              border-width: 1px;
              border-color: #A49598;
              border-radius: 10px;
              transition: color 300ms, background-color 300ms, border-color 300ms;
            }

            .blog-tags > p:hover{
              background-color: #29C16C;
              color: white;
              border-color: #29C16C;
            }

        .blog-abstract-paragraph{
          font-size: 15px !important;
          padding: 20px 0px 10px 0px;
        }




/*===============Full blog view================*/

#single-blog-container{
  width: 0%;
  height: fit-content;
  display: none;
  border: solid 1.5px black;
  border-radius: 2%;
  overflow-y: scroll;
  transition: height 1s;
}

    .blog-buttons{
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      display: flex;
      flex-direction: row;
    }

        #retract-button{
          display: none;
        }

        #close-button, #span-button, #retract-button{
          height: 30px;
          margin: 5px;
          border: solid 1px #333;
          border-radius: 10px;
        }

        #single-blog-content .blog-tags{
          padding: 10px 10px 0px 0px;
        }

    #single-blog-content > .blog-cover-img{
      display: none;
    }

    #single-blog-content .blog-title{
      font-size: 35px;
      line-height: 120%;
    }

    #single-blog-content .blog-date{
      margin-bottom: 50px;
    }

        .blog-detail-content{
          width: 100%;
          display: none;
        }

            .blog-detail-content .blog-presentation{
              height: 300px;
              width: 100%;
              margin-top: 25px;
              border-style: solid;
              border-width: 1px;
              border-color: #29C16C;
              display: flex;
              flex-flow: row nowrap;
              overflow-x: scroll;
              overflow-y: hidden;
            }

            .blog-detail-content .blog-presentation > img {
              height: 300px;
              width: auto;
              border-width: 0px 1px 0px 1px;
              border-style: solid;
              border-color: #A49598;
            }

            .blog-detail-content > *{
              margin-top: 25px;
            }

            /* for pdf */
            .blog-detail-content object {
              height: 500px;
              width: 100%;
            } 

            .blog-detail-content iframe {
              height: 500px;
              width: 100%;
            }

            .blog-detail-content > p > img{
              max-width: 100%;
              max-height: 60%;
            }

            .blog-detail-content blockquote{
              padding: 35px 30px 10px 30px;
              background-color: #C7FCDC;
              border-radius: 10px;
            }

            .blog-detail-content blockquote p{
              margin-bottom: 25px;
            }

            .blog-detail-content ul{
              padding: 0px 20px 0px 20px;
            }

/*===============Search box======================*/

#search-box{
  width: 30vw;
  height: auto;
  position: fixed;
  top: 65px;
  right: 65px;
  direction: rtl;
  transition: top 1s;
  z-index: 10;
}

#search-box > input{
  height: 30px;
  width: 20vw;
  direction: ltr;
  font-size: 15px;
  color: black;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 25px;
  padding: 20px 0px 20px 25px;
  background-color: white;
  outline: none;
  transition: background-color 1s, border-color 0.1s;
}

#search-box > input:focus{
  background-color: #29C16C;
  color: white;
  border-color: #29C16C;
}

#search-box > input::placeholder{
  color: black;
}

#search-box > input:focus::placeholder{
  color: white;
}

/*=============Responsive columns=================*/


@media (min-width: 1083px) and (max-width: 1363px){
}

@media (min-width: 797px) and (max-width: 1082px){
}

@media (max-width: 796px){
  .page-container{
    flex-direction: column;
  }

  .sidebar {
    flex-direction: row;
    height: 50px;
  }

  .nav{
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 0px;
  }

  .content-container{
    margin-left: 20vw;
  }
}
